h3 {
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  font:18pt sans black;
  font-weight: 800;
}

h5 {
  text-align: center;
  margin-top:4px;
  margin-bottom:4px;
  font:14pt sans black;
}

a {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background-color: lightblue;
  display: inline-block;
  font: 18pt sans black;
  text-transform: uppercase;
  font-weight: bold;
}

#main{
  background-image: url("http://te4m19.co.uk/assets/images/betsPlaced.jpg");
  background-size: cover;
  padding-top:2em;
}
