h3 {
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  font:18pt sans black;
  font-weight: 800;
}

h5 {
  text-align: center;
  margin-top:4px;
  margin-bottom:4px;
  font:14pt sans black;
}
