
a {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background-color: lightblue;
  display: inline-block;
  font: 18pt sans black;
  text-transform: uppercase;
  font-weight: bold;
  margin-top:10px;
}

#main{
  background-image: url("http://82.15.30.96/assets/horses/images/betsPlaced.jpg");
  background-size: cover;
  padding-top:2em;
}


input.forcePlay {
  clear:none;
  display:inline;
  background-color: rosybrown;
  color:red;
  font: 8pt "Arial Black";
}

ul {
  list-style-type: none;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font: 9pt arial;
}

h4 {
  background-color: #76b2b5;
  font-size: 14pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
  color: #114471;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
