#raceCanvas {
  width: 100%;
  height: calc(100% - 3em);
}


h2 {
  text-align: center;
}

a {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font: 20pt sans bold;
  text-transform: uppercase;
  background-color: lightblue;
}
