<div *ngIf="waitingFor">
  <h1>Waiting for</h1>
  <ul>
    <li *ngFor="let unready of waitingFor">
      {{unready.NAME}}
      <input type="button" *ngIf="!observing" value="Force" class="forcePlay" (click)="forceProgress(unready)"/>
    </li>
  </ul>
</div>
<div id="raceArea">
<canvas id="raceCanvas">
</canvas>
<h1>{{waitMessage}}</h1>

<div *ngIf="_raceFinished">
  <table>
    <tr>
      <th colspan="2">Finishers</th>
    </tr>
    <tr>
      <th>
        Horse
      </th>
      <th>
        Owner
      </th>
      <th>
        Odds
      </th>
    </tr>
    <tr *ngFor="let f of _finishers">
      <td>
        {{f.NAME}}
      </td>
      <td>
        {{f.PLAYER_NAME}}
      </td>
      <td>
        {{getOdds(f)}}
      </td>
    </tr>
  </table>


    <table *ngIf="_prizes && _prizes.length">
      <tr>
        <th colspan="2">Prizes</th>
      </tr>
      <tr>
        <th>
          Player
        </th>
        <th>
          Prize
        </th>
      </tr>
      <tr *ngFor="let p of _prizes">
        <td>
          {{p.PLAYER_NAME}}
        </td>
        <td>
          {{p.PRIZE}}
        </td>
      </tr>
  </table>

  <br/>
  <div *ngIf="_winningBets && _winningBets.length" class="betsWon">
  <table>
    <tr>
      <th colspan="5">Bets Won</th>
    </tr>
    <th>
      Player
    </th>
    <th>
      Horse
    </th>
    <th>
      Bet
    </th>
    <th>
      Odds
    </th>
    <th>
      Type
    </th>
    <th>
      Won
    </th>
    <tr *ngFor="let win of _winningBets">
      <td>
        {{win.PLAYER_NAME}}
      </td>
      <td>
        {{win.HORSE_NAME}}
      </td>
      <td>
        {{win.AMOUNT}}
      </td>
      <td>
        {{win.ODDS}}
      </td>
      <td>
        {{getBetTypeName(win.TYPE)}}
      </td>
      <td>
        {{win.WIN}}
      </td>
    </tr>
  </table>
  </div>


  <br/>
  <div *ngIf="_loosingBets && _loosingBets.length" class="betsLost">
    <table>
      <tr>
        <th colspan="5">Bets Lost</th>
      </tr>
      <th>
        Player
      </th>
      <th>
        Horse
      </th>
      <th>
        Bet
      </th>
      <th>
        Odds
      </th>
      <th>
        Type
      </th>
      <th>
        Lost
      </th>
      <tr *ngFor="let b of _loosingBets">
        <td>
          {{b.PLAYER_NAME}}
        </td>
        <td>
          {{b.HORSE_NAME}}
        </td>
        <td>
          {{b.AMOUNT}}
        </td>
        <td>
          {{b.ODDS}}
        </td>
        <td>
          {{getBetTypeName(b.TYPE)}}
        </td>
        <td>
          {{b.AMOUNT}}
        </td>
      </tr>
    </table>
  </div>

</div>
  <a *ngIf="showNextStep" routerLink="/game/{{gameData.ID}}">Click here to see game leaderboard</a>
</div>
