#raceCanvas {
  width: 100%;
  height: calc(100% - 3em);
}


a {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font: 20pt sans bold;
  text-transform: uppercase;
  background-color: lightblue;
}

div.appHeader {
  display:none !important;
}
