ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  clear: none;
  float: left;
}


a {
  text-decoration: underline;
  display: block;
  cursor: pointer;
  text-align: center;
  font: 16pt -webkit-xxx-large;
}

div#main {
  height: 100%;
  background-image: url('http://82.15.30.96/assets/horses/images/chooseHorse.jpg');
  background-size: cover;
}

input[type="button"]:disabled {
  display: none;
}
