<div id="main">
  <h3>You have the following horses available for races at {{meeting.NAME}}.</h3>
  <h3>The going is predicted to be {{going}}.</h3>
<table>
  <tr>
    <th colspan=3>
      Your Horses
    </th>
  </tr>
  <tr>
    <th>NAME</th>
    <th>FORM</th>
    <th>SALE VALUE</th>
    <th>ACTIONS</th>
  </tr>
  <tr *ngFor="let horse of horses">
    <td>{{horse.NAME}}</td>

    <td *ngIf="horse.FORM">
      <ul *ngIf="horse.FORM">
        <li *ngFor="let f of horse.FORM">
          {{f.POSITION}}({{f.LENGTH_FURLONGS}}f, {{f.going}}),
        </li>
      </ul>
    </td>
    <td>
      {{getHorseValue(horse)}}
    </td>

    <td>
      <input *ngIf="horse.FORM && horse.FORM.length" type="button" value="Make Glue" [disabled]="disableGlue ||( playerFunds<50) || (this.horses.length <= this.races.length)" (click)="makeGlue(horse)">
      <input type="button" value="Sell" (click)="sellHorse(horse)" [disabled]="disableGlue || (this.horses.length <= this.races.length)" >
    </td>

  </tr>
  <tr *ngIf="(this.playerFunds > 200) || (this.horses.length < 8)">
    <td></td>
    <td></td>
    <td>-200</td>
    <td>
      <input type="button" value="Add new horse" (click)="addNewHorse()" [disabled]="(this.playerFunds < 200) || (this.horses.length >7)"/>
    </td>
  </tr>

</table>


  <table>
    <tr>
      <th>
        Available funds
      </th>
      <td>
        {{playerFunds}}
      </td>
    </tr>
  </table>

  <h3 *ngIf="canSelect">Select your horses in the table below</h3>



<table class="userAction">
  <tr>
    <th colspan =4>
      Your selections
    </th>
  </tr>
  <tr>
    <th>Race name</th>
    <th>Length in furlongs</th>
    <th>Prize</th>
    <th>Horse</th>
  </tr>
<tr *ngFor="let race of races">
  <td>{{race.NAME}}</td>
  <td>{{race.LENGTH_FURLONGS}}</td>
  <td>{{race.PRIZE}}</td>
  <td>
    <select *ngIf="horses && horses.length" class="horseSelector" (change)="this.handleHorseSelected()">
      <option *ngFor="let horse of horses">
        {{horse.NAME}}
      </option>
    </select>
  </td>
</tr>
</table>

  <div *ngIf="canSelect && invalid">
    <h4>Please select a different horse for each race</h4>
  </div>



<div *ngIf="(!invalid) && (canSelect)">
  <input type="button" value="Set Selection" [disabled]="this.invalid" (click)="this.setSelection()"/>
</div>



<div *ngIf="readyForBets; else notReady">
  <a routerLink="/betting/{{gameId}}/{{races[0].ID}}">
    READY TO PLACE BETS. CLICK HERE
  </a>
</div>

<ng-template #notReady>
  <h5>Please be patient.</h5>
  <h5>Waiting for the following players to complete selections.</h5>
  <ul>
    <li *ngFor="let w of waitingFor" class="waitFor" >
      {{w.PLAYER_NAME}}
      <input *ngIf="isGameMaster || (w.PLAYER_ID === player.ID)"  type="button" value="Force Selection" (click)="doForceSelection(w)"/>
    </li>
  </ul>

</ng-template>
</div>

