<div id="main">
<table>
  <tr>
    <th colspan=2>
      Horses in race
    </th>
  </tr>
  <tr>
    <th>NAME</th>
    <th>FORM</th>
  </tr>
  <tr *ngFor="let horse of horses">
    <td>{{horse.NAME}}</td>

    <td *ngIf="horse.FORM">
      <ul *ngIf="horse.FORM">
        <li *ngFor="let f of horse.FORM">
          {{f.POSITION}}
        </li>
      </ul>
    </td>
  </tr>
</table>
  <h2>Select your horses for races at {{meeting.NAME}}</h2>
  <br/>
<table>
  <tr>
    <th colspan =4>
      Your selections
    </th>
  </tr>
  <tr>
    <th>Race name</th>
    <th>Length in furlongs</th>
    <th>Prize</th>
    <th>Horse</th>
  </tr>
<tr *ngFor="let race of races">
  <td>{{race.NAME}},{{race.ID}}</td>
  <td>{{race.LENGTH_FURLONGS}}</td>
  <td>{{race.PRIZE}}</td>
  <td>
    <select class="horseSelector" (change)="this.handleHorseSelected()">
      <option *ngFor="let horse of horses">
        {{horse.NAME}}
      </option>
    </select>
  </td>
</tr>
</table>
<input type="button" value="Set Selection" [disabled]="this.invalid" (click)="this.setSelection()"/>

<div *ngIf="readyForBets; else notReady">
  <a routerLink="/betting/{{gameId}}/{{races[0].ID}}">
    READY TO PLACE BETS. CLICK HERE
  </a>
</div>

<ng-template #notReady>
  <h5>Waiting for all players to complete selections, please be patient...</h5>
</ng-template>
</div>

