a {
  padding-right:12px;
  text-decoration: underline;
}

.gameTitle {
  display: inline-block;
  clear: left;
  float: left;
  padding-right: 8px;
  font: 18pt sans-serif;
  font-weight: 800;
}

.appHeader {
  height: 2.3em;
  display: block;
  overflow: hidden;
}

.playerName {
  font: 18pt sans-serif;
  font-weight: 800;
  display: inline-block;
}

.myRoutes {
  float:right;
}

.myRouterOutlet {
  display: block;
  clear: both;
  width: 100%;
  margin-bottom: 0px;
  height: 100%;
  text-align:center;
}

.myRouterOutlet:nth-child(2) {
  height: calc(100% - 2.3em);
  margin-bottom: 0px;
  overflow: auto;
}

td>ul {
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: underline;
  display:block;
  cursor:pointer;
}

table {
  margin-left:auto;
  margin-right:auto;
}

td {
  padding-bottom: 10px;
  vertical-align: top;
  background-color: #dadaa2;
}


