<div id="main">

<div *ngIf="raceData">
  <h3>{{raceData.NAME}}. Length: {{raceData.LENGTH_FURLONGS}}, Prize: {{raceData.PRIZE}},  Going: {{going}} </h3>
</div>


    <table class="horsesInRace">
      <tr>
        <th colspan="4">
          Horses In Race
        </th>
      </tr>
      <tr>
        <th>
          Horse
        </th>
        <th>
          Owner
        </th>
        <th>
          Odds
        </th>
        <th>
          Form
        </th>
      </tr>
      <tr *ngFor="let odds of oddsStatistics">
        <td>
          {{odds.horse.NAME}}
        </td>
        <td>
          {{odds.horse.PLAYER_NAME}}
        </td>
        <td>
          {{odds.odds}}/1
        </td>
        <td>
          <ul *ngIf="odds.horse.FORM">
            <li *ngFor="let f of odds.horse.FORM">
              {{f.POSITION}}({{f.LENGTH_FURLONGS}}f - {{f.going}}),
            </li>
          </ul>
        </td>
      </tr>
    </table>



<div class="playerBets" *ngIf="(playerBets && playerBets.length); else noBet">
  <table class="userInfo">
    <tr>
      <th colspan=3>Bets Placed</th>
    </tr>
    <tr>
      <th>
        Horse
      </th>
      <th>
        Odds
      </th>
      <th>
        Type
      </th>
      <th>
        Amount
      </th>
    </tr>
    <tr *ngFor="let bet of playerBets">
      <td>
        {{bet.HORSE_NAME}}
      </td>
      <td>
        {{bet.ODDS}}/1
      </td>
      <td>
        {{getBetTypeName(bet.TYPE)}}
      </td>
      <td>
        {{bet.AMOUNT}}
      </td>
    </tr>
  </table>
</div>
  <ng-template #noBet>
    <h1>YOU HAVE PLACED NO BETS</h1>
  </ng-template>

<div class="fundsSummary">
  <table>
    <tr>
      <th>Available Funds</th><td>{{initialFunds}}</td>
    </tr>
    <tr>
      <th>Remaining Funds Funds</th><td>{{remainingFunds}}</td>
    </tr>
    <tr>
      <th>Total Bets Placed</th><td>{{this.betsTotal}}</td>
    </tr>
  </table>
</div>

  <div class="betPlacementSection">
    <h4>Place as many bets as you like and then click "Ready".</h4>
    <h5>To cancel a bet place the same bet with zero value.</h5>
    <table class="placeBetContainer userAction">
      <tr>
        <th colspan="3">Place Your Bets</th>
      </tr>
      <tr>
        <th><label for="horseSelector">Horse</label></th>
        <th>Type</th>
        <th ><label for="betAmount">Amount</label></th>
        <th>

        </th>
      </tr>
      <tr>
        <td>
          <select id="horseSelector">
            <option *ngFor="let odd of oddsStatistics">
              <!--<select *ngIf="odd.horse.PLAYER_ID !== player.ID"> -->
              <select>
                {{odd.horse.NAME}}
              </select>
            </option>
          </select>
        </td>
        <td>
          <select id="betTypeSelector">
            <option>
              To Win</option>
            <option>
              To Place (top 3)</option>
          </select>
        </td>
        <td>
          <input type="number" id="betAmount" (change)="updateEnabledState()" (keyup)="betKeyPress()"/>
        </td>
        <td>
          <input type="button" (click)="placeBet()" value="Place Bet" [disabled]="invalidBetAmount"/>
        </td>
      </tr>
    </table>
  </div>

<input type="button" value="Click HERE when you've finished betting (or when you can't or don't want to)" (click)="handleReadyToRace()"/>
<br>
<div *ngIf="playerReady">
  <div *ngIf="allPlayersReady; else notReady">
    READY TO GO..
  </div>
  <ng-template #notReady>
    <h6>WAITING FOR PLAYERS TO PLACE BETS</h6>
    <h5 *ngFor="let p of waitingFor">
      {{p.NAME}}
    </h5>
  </ng-template>`

</div>
</div>
