<div id="main">

<div *ngIf="raceData">
  <h3>{{raceData.NAME}}. Length: {{raceData.LENGTH_FURLONGS}}, Prize: {{raceData.PRIZE}},  Going: {{going}} </h3>
</div>
<div class="leftArea">

    <table class="horsesInRace">
      <tr>
        <th colspan="4">
          Horses In Race
        </th>
      </tr>
      <tr>
        <th>
          Horse
        </th>
        <th>
          Owner
        </th>
        <th>
          Odds
        </th>
        <th>
          Form
        </th>
      </tr>
      <tr *ngFor="let odds of _oddsStats">
        <td>
          {{odds.horse.NAME}}
        </td>
        <td>
          {{odds.horse.PLAYER_NAME}}
        </td>
        <td>
          {{odds.odds}}/1
        </td>
        <td>
          <ul *ngIf="odds.horse.FORM">
            <li *ngFor="let f of odds.horse.FORM">
              {{f.POSITION}}({{f.LENGTH_FURLONGS}}f - {{f.going}}),
            </li>
          </ul>
        </td>
      </tr>
    </table>

</div>

<div class="rightArea">
<div class="playerBets" *ngIf="(playerBets && playerBets.length); else noBet">
  <table>
    <tr>
      <th colspan=3>Bets Placed</th>
    </tr>
    <tr>
      <th>
        Horse
      </th>
      <th>
        Odds
      </th>
      <th>
        Amount
      </th>
    </tr>
    <tr *ngFor="let bet of playerBets">
      <td>
        {{bet.HORSE_NAME}}
      </td>
      <td>
        {{bet.ODDS}}/1
      </td>
      <td>
        {{bet.AMOUNT}}
      </td>
    </tr>
  </table>
</div>
  <ng-template #noBet>
    <h1>YOU HAVE PLACED NO BETS</h1>
  </ng-template>
<div class="fundsSummary">
  <table>
    <tr>
      <th>Available Funds</th><td>{{initialFunds}}</td>
    </tr>
    <tr>
      <th>Remaining Funds Funds</th><td>{{remainingFunds}}</td>
    </tr>
    <tr>
      <th>Total Bets Placed</th><td>{{this.betsTotal}}</td>
    </tr>
  </table>
</div>
  <div class="betPlacementSection">

    <table class="placeBetContainer">
      <tr>
        <th colspan="3">Place Your Bets</th>
      </tr>
      <tr>
        <th><label for="horseSelector">Horse</label></th>
        <th colspan="2"><label for="betAmount">Bet</label></th>
      </tr>
      <tr>
        <td>
          <select id="horseSelector">
            <option *ngFor="let odd of _oddsStats">
              <!--<select *ngIf="odd.horse.PLAYER_ID !== player.ID"> -->
              <select>
                {{odd.horse.NAME}}
              </select>
            </option>
          </select>
        </td>
        <td>
          <input type="number" id="betAmount" (change)="updateEnabledState()" (keyup)="updateEnabledState()"/>
        </td>
        <td>
          <input type="button" (click)="placeBet()" value="Place" [disabled]="invalidBetAmount"/>
        </td>
      </tr>
    </table>
  </div>
</div>
<input type="button" value="Ready" (click)="handleReadyToRace()"/>
<br>
<div *ngIf="playerReady">
  <div *ngIf="allPlayersReady; else notReady">
    READY TO GO..
  </div>
  <ng-template #notReady>
    <h6>WAITING FOR PLAYERS TO PLACE BETS</h6>
    <h5 *ngFor="let p of waitingFor">
      {{p.NAME}}
    </h5>
  </ng-template>`

</div>
</div>
