.placeBetContainer {
  text-align: center;
}

#main {
  background-image: url('http://82.15.30.96/assets/horses/images/bookies.jpg');
  background-size: cover;
}

td>ul {
  margin: 0px;
  padding:0px;
  list-style-type: none;
}

td li {
  float:left;
  display:inline-block;
  clear:none;
  padding-right:4px;
}


label {
  padding-left: 10px;
  padding-right: 10px;
}

.betPlacementSection {
  vertical-align: middle;
}

#betAmount {
  width : 5em;
}


h1 {
  background-color: red;
}

h5 {
  clear:both;
}

h4 {
  clear:both;
  display: list-item;
}

