<div id="main">

<div *ngIf="raceData">
  <h3>Place your bets for the {{raceData.NAME}}</h3>
  <h5>Length: {{raceData.LENGTH_FURLONGS}}</h5>
  <h5>Prize: {{raceData.PRIZE}}</h5>
</div>
<h4>Horses:</h4>
<table>
  <tr>
    <th>
      Horse
    </th>
    <th>
      Owner
    </th>
    <th>
      Odds
    </th>
    <th>
      Form
    </th>
  </tr>
  <tr *ngFor="let odds of _oddsStats">
    <td>
      {{odds.horse.NAME}}
    </td>
    <td>
      {{odds.horse.PLAYER_NAME}}
    </td>
    <td>
      {{odds.odds}}/1
    </td>
    <td>
      <ul *ngIf="odds.horse.FORM">
        <li *ngFor="let f of odds.horse.FORM">
          {{f.POSITION}},
        </li>
      </ul>
    </td>
  </tr>
</table>
<br/>
<div class="betPlacementSection">
  <h4>Place your bet</h4>
  <hr/>
    <h5>Available Funds: {{initialFunds}}</h5>
    <h5>Remaining Funds: {{remainingFunds}}</h5>
  <hr/>
  <div class="placeBetContainer">
    <label for="horseSelector">Horse: </label>
    <select id="horseSelector">
      <option *ngFor="let odd of _oddsStats">
        <!--<select *ngIf="odd.horse.PLAYER_ID !== player.ID" id="horseSelector"> -->
        <select id="horseSelector">
          {{odd.horse.NAME}}
        </select>
      </option>
    </select>
    <label for="betAmount">Amount:</label>
    <input type="number" id="betAmount" (change)="updateEnabledState()" (keyup)="updateEnabledState()"/>
    <input type="button" (click)="placeBet()" value="Place Bet" [disabled]="invalidBetAmount"/>
  </div>
</div>
<div *ngIf="playerBets">
  <h5>Bets Placed:</h5>
  <table>
    <tr>
      <th>
        Horse
      </th>
      <th>
        Odds
      </th>
      <th>
        Amount
      </th>
    </tr>
    <tr *ngFor="let bet of playerBets">
      <td>
        {{bet.HORSE_NAME}}
      </td>
      <td>
        {{bet.ODDS}}/1
      </td>
      <td>
        {{bet.AMOUNT}}
      </td>
    </tr>
  </table>
</div>
<h5>Total Bets Placed: {{this.betsTotal}}</h5>
<br/>
<input type="button" value="Ready" (click)="handleReadyToRace()"/>
<br>
<div *ngIf="playerReady">
  <div *ngIf="allPlayersReady; else notReady">
    READY TO GO..

  </div>
  <ng-template #notReady>
    <h6>WAITING FOR PLAYERS TO PLACE BETS</h6>
  </ng-template>`

</div>
</div>
