.placeBetContainer {
  clear: both;
  text-align: center;
  font: 14pt sans-serif;
  color: darkblue;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}

#main {
  background-image: url(/assets/images/bookies.jpg);
  background-size: cover;
}

h3 {
  text-align: center;
  background-color: darkorange;
  font-size: 16pt;
}

h5 {
  text-align: center;
  background-color: white;
  /* margin: 0px; */
  font: 13pt sans bold;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding:6px;
}

td>ul {
  margin: 0px;
  padding:0px;
  list-style-type: none;
}

td>li {
  float:left;
}


h4 {
  text-align: center;
  font-size: 19pt;
  margin-top: 0;
  margin-bottom: 0;
  color:blue;
  background-color: white;
}



h5 {
  text-align: center;
}

label {
  padding-left: 10px;
  padding-right: 10px;
}

.betPlacementSection {
  vertical-align: middle;
}

.betPlacementSection h4 {
  vertical-align: middle;
  height: 100%;
  margin-bottom: initial;
  padding-top: 4px;
  padding-bottom: 4px;
}

.placeBetContainer input[type="button"] {
  display: inline-block;
  border: 1px solid red;
  margin-left: 12px;
}


