h2{
  text-align: center;
}

h3{
  text-align: center;
  background-color:white;
}

a {
  text-decoration: underline;
  display: block;
  cursor: pointer;
  text-align: center;
  font: 16pt arial blue;
  font-weight: 800;
  text-transform: capitalize;
  background-color: azure;
  margin-top: 2em;
}

#main{
  background-image: url("/assets/images/leaders.jpg");
  background-size: cover;
}

