<div *ngIf="game" class="gameDetail">
  <h2 *ngIf="game"> Game: {{game.NAME}}</h2>
  <h3>Players:</h3>
  <div *ngIf="game.players && game.players.length" class="playerList">
    <table>
      <tr>
        <th>Player</th>
        <th>Funds</th>
      </tr>
      <tr *ngFor="let player of game.players">
        <td>
         {{ player.NAME }}
        </td>
        <td>
          {{ player.FUNDS }}
        </td>

    </table>
  </div>
  <div *ngIf="!game.state || game.state === 0">
    <br/>
    <h4>Game Not Yet Stated</h4>
  </div>
  <a routerLink="/selection/{{game.ID}}/{{meetingId}}">Select horses
  </a>
</div>
