<div id="main">
<div *ngIf="game" class="gameDetail">
  <h2 *ngIf="game"> Game: {{game.NAME}}</h2>
  <h3>SCOREBOARD:</h3>
  <div *ngIf="game.players && game.players.length" class="playerList">
    <table>
      <tr>
        <th>Player</th>
        <th>Funds</th>
      </tr>
      <tr *ngFor="let player of game.players">
        <td>
         {{ player.NAME }}
        </td>
        <td>
          {{ player.FUNDS }}
        </td>

    </table>
  </div>

  {{game.ID}},
  {{game.RACE_INDEX}};
  <div *ngIf="game.RACE_INDEX === 0; else showBets">
    <a routerLink="/selection/{{game.ID}}/{{meetingId}}">Select horses for meeting</a>
  </div>

  <ng-template #showBets>
    <a routerLink="/betting/{{game.ID}}/{{game.RACE_ID}}">place bets</a>
  </ng-template>

</div>
</div>
