h2{
  text-align: center;
}

h3{
  text-align: center;
  background-color:white;
}

a {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font: 16pt arial blue;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 2em;
}

#main{
  background-image: url('http://82.15.30.96/assets/horses/images/leaders.jpg');
  background-size: cover;
  padding-top:2em;
}

h1 {
  font: 32pt Sans black;
  font-weight: 800;
  background-color: red;
}

