.gamesList {
  background-image:url("/assets/images/allhorse.jpg");
  background-size:cover;
  text-align:center;
  height:100%
}

a {
  text-decoration: underline;
  display:block;
  cursor:pointer;
}

body div {
  text-align: center;
}


table {
  margin-top: 20px;
}
