<div class="gamesList">
  <h3>Select a game from the list, or click 'New Game'</h3>
    <table>
      <tr *ngFor="let game of games">
        <td>
          <a *ngIf="game.playerInGame" routerLink="/game/{{game.ID}}">{{ game.NAME }}</a>
        </td>
        <td *ngIf="game.players && game.players.length">
          <div *ngFor="let player of game.players">
            {{player.NAME}}
          </div>
        </td>
        <td>
          <input type="button" (click)="join(game.ID)" [disabled]="game.playerInGame" value="Join"/>
        </td>
        <td>
          <input type="button" (click)="leave(game.ID)" [disabled]="!game.playerInGame" value="Leave"/>
        </td>


        <td>
          <input type="button" (click)="deleteGame(game.NAME)" value="Delete" [disabled]="player.NAME !== 'SIMON'"/>
        </td>
    </table>
  <br/>
  <input type="button" (click)="addNewGame()" value="New Game"/>



</div>
