.gamesList {
  background-image:url("/assets/images/allHorse.jpg");
  background-size:cover;
  text-align:center;
  height:100%
}

a {
  text-decoration: underline;
  display:block;
  cursor:pointer;
}

table {
  margin-left:auto;
  margin-right:auto;
}

td {
  padding-bottom: 10px;
  vertical-align: top;
  background-color: #dadaa2;
}

body div {
  text-align: center;
}

td {
  padding-bottom: 10px;
  vertical-align: top;
  background-color: #dadaa2;
}


table {
  margin-top: 20px;
}
